body {
    font-family: monospace;
}

#expand-toggle {
    display: none;
}

#expand-toggle:checked~* .expandable {
    visibility: visible;
}

.expandable {
    visibility: collapse;
    background: gray;
    color: white;
}

#expand-btn { 
    display: inline-block;
    margin-top: 12px;
    padding: 6px 12px;
    background-color: #88FF88;
    border: 1px solid;
    border-radius: 3px;
    transition: 0.3s;
    position: relative;
	cursor: pointer;
}

#expand-btn::after {
    content: "Nascondi righe";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    background-color: #FF8888;
    border-radius: 3px;
    display: none;
    align-items: center;
    justify-content: center;
	cursor: pointer;
}

#expand-toggle:checked~#expand-btn::after {
    display: flex !important;
}












