body {
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    flex-wrap: wrap
    
}

h1 {
    margin: 0;
    font-size: 14px;
}

h2 {
    margin: 0;
    font-size: 15px;
}

.figure {
    background-image: url(assets/cucciolo1.jpg);
    background-repeat: repeat;
    background-size: cover;
    padding: 86px;

}

.figure-two {
    background-image: url(assets/cucciolo2.jpg);
    background-repeat: repeat;
    background-size: cover;
    padding: 86px;
}

.figure-three {
    background-image: url(assets/cucciolo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 86px;
}

.top {
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    border: solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 3px;
    background: white;
}


.card {
    border: 1px solid grey;
    height: 400px;
    width: 250px;
    margin: 20px;
    border-radius: 20px;
    background: linear-gradient( to top, lightgray, gray);
    min-width: 300px;
    min-height: 400px;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    min-height: 40px;
    min-width: 300px;
}

.title {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding-left: 16px;
    color: white;
    justify-content: center;
}

.card-footer {
    padding: 0;
    position: relative;
}

.pointers {
    font-size: 25px;
    padding-right: 5px;
}

.far {
    color: white;
    padding: 4px;
    font-size: 20px;
}


/*visualizzazione Tablet*/
@media screen and (max-width: 768px) {
    section {
        display: flex;
        flex-wrap: wrap;
    
    }

}

/* Visualizzazione mobile */
@media (max-width: 375px) {
    section {
        display: block;
    } 
   
}