body {
    display: grid;
    grid-column: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#green {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}


#yellow {
    grid-column: 1 ;
    grid-row: 2 / 4 ;
}

#orange {
    grid-column: 2;
    grid-row: 2;
}

#blue {
    grid-column: 2;
    grid-row: 3;
}

#red {
    grid-row: 2 / 4;
}