
#first{
    width: 200px;
    height: 100%;
    background-color: rgb(216, 235, 252);
    

}

.titolo{
    text-align: center;
    font-size:xx-large;
    color: rgb(101, 202, 0);
}



.up{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 0;


    
}

li a{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 0.626rem;
    padding: 0.365rem 0.75rem;
    text-decoration: none;
    color: white;
    background-color: #2b2b2b;

    


} 

a:hover{
    text-decoration: underline;
    color: #2b2bb2;
    transition: 0.3s;
}




.comp i, p{
    display: flex;
    justify-content: center;
    color: rgb(101, 202, 0);
}


.comp p{
    font-size:x-large;
    text-transform: capitalize;
}

.comp i{
    display: flex;
    justify-content: center;
    padding-top: 350px;
    margin: 0;
    font-size: 50px;
}